#  PyClaw Default Logging Configuration
#  Created: 11-11-2008 KTM

# ----------------------------------------------------------------------------
#  This section defines the names of the loggers, handlers and formatters
#

# These are the names of the different loggers
[loggers] 
keys=root,pyclaw,controller,io,solver,f2py,data

# These are the names of the different handlers that we will setup later
[handlers]
keys=file,console,syslog

# These are the formatters used for the formatters, here we only define one
# but multiple may be defined for different tasks
[formatters]
keys=default,detailed

# ----------------------------------------------------------------------------
#  Logger settings
#
[logger_root]
level=INFO                             
qualname=root
handlers=file,console

[logger_pyclaw]
level=INFO
qualname=pyclaw
handlers=file,console

[logger_controller]
level=NOTSET
propagate=0
qualname=pyclaw.controller
handlers=file,console
channel=controller
parent=(pyclaw)

[logger_io]
level=NOTSET
propagate=0
qualname=pyclaw.fileio
handlers=file
channel=io
parent=(pyclaw)

[logger_solution]
level=NOTSET
propagate=0
qualname=pyclaw.solution
handlers=file
channel=solution
partent=(pyclaw)

[logger_solver]
level=NOTSET
propagate=0
qualname=pyclaw.solver
handlers=file,console
channel=solver
parent=(pyclaw)

[logger_plot]
level=INFO
propagate=0
qualname=plot
handlers=file
channel=plot
parent=(root)

[logger_f2py]
level=INFO
propagate=0
qualname=f2py
handlers=file,console
channel=f2py
parent=(root)

[logger_data]
level=INFO
propagate=0
qualname=data
handlers=file,console
channel=data
parent=(root)
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
#  Handlers
#
[handler_file]
class=FileHandler
level=NOTSET
formatter=detailed
args=('pyclaw.log','w')

[handler_console]
class=StreamHandler
level=INFO
formatter=default
args=(sys.stdout,)

[handler_syslog]
class=handlers.SysLogHandler
level=NOTSET
formatter=detailed
args=(('localhost',handlers.SYSLOG_UDP_PORT), handlers.SysLogHandler.LOG_USER)
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
#  Formatters
#
[formatter_default]
format=%(asctime)s %(levelname)s CLAW: %(message)s
datefmt=

[formatter_detailed]
format=%(asctime)s %(name)s %(levelname)s CLAW: %(lineno)d - %(message)s
datefmt=

# ----------------------------------------------------------------------------
